<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head('LeagueList page!')">
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/header :: menu">
</nav>
<header class="masthead">
</header>
<tr th:each="league : ${list}"> //백엔드꺼 가져다 쓸때 ${변수명}
    <td th:text="${league.league_id}"></td>
    <td th:text="${league.league_name}"></td>
    <td><img th:src="${league.logo_image_path}" style="border-radius: 60%; border:2px solid grey" width="150" height="150"/></td>
</tr>
<!-- Clients-->
<div class="py-5" th:replace="fragments/header::clients">
</div>
<!-- Footer-->
<footer class="footer py-4" th:replace="fragments/header::footer">
</footer>
</body>
</html>