<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('Hello, Football Homepage!')">
</head>
<script src="../../static/js/adminTeamList.js"></script>
<body id="page-top">
<!-- Navigation: 내부바 = 토탈풋볼 -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common2 :: menu"> <!-- common2 경로에 있는 th:fragment의 값이 menu인 내용을 가져옴 -->
</nav>
<!-- Masthead: 챔스 배경 화면 >> 이건 직접 넣은 코드 -->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Welcome To Our FootBall!</div>
    <a class="btn btn-primary btn-xl text-uppercase" href="#teamListMain">Here to Go</a>
  </div>
</header>
<section class="page-section bg-light" id="teamListMain">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Team 관리</h2>
    </div>
    <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" style="margin-bottom: 50px">
      <li class="nav-item">
        <a id="leagueTab1" class="nav-link active" aria-current="page" th:onclick="leagueTabAjax(1)">프리미어리그</a>
      </li>
      <li class="nav-item">
        <a id="leagueTab2" class="nav-link"  th:onclick="leagueTabAjax(2)">라리가</a>
      </li>
      <li class="nav-item">
        <a id="leagueTab3" class="nav-link"  th:onclick="leagueTabAjax(3)">세리에a</a>
      </li>
      <li class="nav-item">
        <a id="leagueTab4" class="nav-link" th:onclick="leagueTabAjax(4)">분데스리가</a>
      </li>
      <li class="nav-item">
        <a id="leagueTab5" class="nav-link" th:onclick="leagueTabAjax(5)">리그1</a>
      </li>
    </ul>
    <div  id="teamList">
    </div>
  </div>
</section>
<!-- Clients: 구글/페이스북 등등 ~ -->
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!-- Footer: 카피라이터 등등 ~ -->
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
</body>
</html>
