<table class="table">
    <thead>
    <tr style="text-align: center">
        <th scope="col">순위</th>
        <th scope="col">팀</th>
        <th scope="col">경기수</th>
        <th scope="col">승점</th>
        <th scope="col">승</th>
        <th scope="col">무</th>
        <th scope="col">패</th>
        <th scope="col">득점</th>
        <th scope="col">실점</th>
        <th scope="col">득실차</th>
        <th scope="col">팀 스타일</th>
        <th scope="col">로고 이미지</th>
        <th scope="col">베스트 이미지</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team: ${list}" style="text-align: center">
        <td th:text="${team.game_rank}"></td>
        <td th:text="${team.team_name}" th:onclick="|location.href='@{/admin/teamInfo/{teamId}(teamId=${team.team_id})}'|"></td>
        <td th:text="${team.game_match}"></td>
        <td th:text="${team.point}"></td>
        <td th:text="${team.win}"></td>
        <td th:text="${team.draw}"></td>
        <td th:text="${team.lose}"></td>
        <td th:text="${team.plus_goal}"></td>
        <td th:text="${team.minus_goal}"></td>
        <td th:text="${team.diff_goal}"></td>
        <td th:text="${team.team_style}"></td>
        <td><img th:src="${team.logo_image_path}" style="width: 100px; height: 100px"></td>
        <td><img th:src="${team.best_image_path}" style="width: 100px; height: 100px"></td>
    </tr>
    </tbody>
</table>