<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('Hello, Football Homepage!')">
</head>
<script src="../../static/js/adminTeamList.js"></script>
<body id="page-top">
<!-- Navigation: 내부바 = 토탈풋볼 -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common2 :: menu"> <!-- common2 경로에 있는 th:fragment의 값이 menu인 내용을 가져옴 -->
</nav>
<!-- Masthead: 챔스 배경 화면 >> 이건 직접 넣은 코드 -->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Welcome To Our FootBall!</div>
    <a class="btn btn-primary btn-xl text-uppercase" href="#teamListMain">Here to Go</a>
  </div>
</header>

<section class="page-section bg-light" id="boardInfo">
  <form id="form1"th:action="@{/admin/teamUpdate/{teamId}(teamId=${teamInfo.team_id})}" method="post">
    <input type="hidden" id="click" name="click" value="0">
    <div class="container">  <!-- container는 꾸며주는 틀 -->
      <div class="text-center"> <!-- text-center는 가운데 정렬 -->
        <h2 style="margin-bottom:50px" class="section-heading text-uppercase">팀 정보 수정</h2>  <!-- 제목 태그 -->
      </div>
      <div class="mb-3 row">
        <label for="game_rank" class="col-sm-2 col-form-label">순위</label>
        <div class="col-sm-10">
          <input style="width:20%" type="text" readonly class="form-control" id="game_rank" name="game_rank" th:value="${teamInfo.game_rank}">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="team_name" class="col-sm-2 col-form-label">팀</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="team_name" name="team_name" th:value="${teamInfo.team_name}">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="game_match" class="col-sm-2 col-form-label">경기수</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="game_match" name="game_match" th:value="${teamInfo.game_match}">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="point" class="col-sm-2 col-form-label">승점</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="point" name="point" th:value="${teamInfo.point}">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="win" class="col-sm-2 col-form-label">승</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="win" name="win" th:value="${teamInfo.win}">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="draw" class="col-sm-2 col-form-label">무</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="draw" name="draw" th:value="${teamInfo.draw}">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="lose" class="col-sm-2 col-form-label">패</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lose" name="lose" th:value="${teamInfo.lose}">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="plus_goal" class="col-sm-2 col-form-label">득점</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="plus_goal" name="plus_goal" th:value="${teamInfo.plus_goal}">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="minus_goal" class="col-sm-2 col-form-label">실점</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="minus_goal" name="minus_goal" th:value="${teamInfo.minus_goal}">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="diff_goal" class="col-sm-2 col-form-label">득실차</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="diff_goal" name="diff_goal" th:value="${teamInfo.diff_goal}">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="team_style" class="col-sm-2 col-form-label">팀 스타일</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" id="team_style" name="team_style" th:text="${teamInfo.team_style}"></textarea>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="logo_image_path" class="col-sm-2 col-form-label">로고</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="logo_image_path" name="logo_image_path" th:value="${teamInfo.logo_image_path}">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="best_image_path" class="col-sm-2 col-form-label">베스트11</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="best_image_path" name="best_image_path" th:value="${teamInfo.best_image_path}">
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit">저장</button>
        <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/board/list}'|">목록</button>
      </div>
    </div>
  </form>
</section>

<!-- Clients: 구글/페이스북 등등 ~ -->
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!-- Footer: 카피라이터 등등 ~ -->
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
</body>
</html>
