<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minki.football.mapper.rank.RankMapper">
    <select id="list" resultType="com.minki.football.dto.team.TeamDto">
    select
        team_id,
        rank,
        team_name,
        game_match,
        point,
        win,
        draw,
        lose,
        plus_goal,
        minus_goal,
        diff_goal
    from team
    where league_id = #{leagueId}
    order by rank asc;
    </select>
</mapper>