<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minki.football.mapper.rank.RankMapper">
    <select id="list" resultType="com.minki.football.dto.team.TeamRes">
    select
        team_id,
        game_rank,
        team_name,
        game_match,
        point,
        win,
        draw,
        lose,
        plus_goal,
        minus_goal,
        diff_goal
    from team
    where league_id = #{leagueId}
    order by game_rank asc;
    </select>

    <select id="rank" resultType="com.minki.football.dto.team.PlayerRes">
    select
        player_id,
        name,
        position,
        game_match,
        playing_time,
        goal,
        assist,
        yellow_card,
        red_card,
        mvp,
        rating,
        total_point
    from player
    order by rating desc

    </select>
</mapper>