<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--타임리프를 쓰기 위해 타임리프 문법이 들어있는 url을 선언했다.-->
<head th:replace="fragments/common :: head('Hello, Football Homepage!')">
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common2 :: menu('[user]')"> <!-- common2 경로에 있는 th:fragment의 값이 menu인 내용을 가져옴 -->
</nav>
<!-- Masthead-->
<header class="masthead" style="background-image: url('/static/images/back/board_background.jpg');">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our FootBall!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#boardRegister">Here to Go</a>
    </div>
</header>

<section class="page-section bg-light" id="boardRegister">
    <form id="form1" th:action="@{/board/boardRegister}" method="post"> <!-- 다시 설명 듣기 -->
        <input type="hidden" id="click" name="click" value="0"> <!-- 조회수 기본값 0인 상태로 백엔드에 보낸다 -->
        <div class="container" style="width:70%">  <!-- container는 꾸며주는 틀 -->
            <div class="text-center card shadow border-0 rounded-4 mb-5">
                <div class="card-body p-5">
                    <div class="text-center"> <!-- text-center는 가운데 정렬 -->
                        <h2 style="margin-bottom:50px" class="section-heading text-uppercase">게시글 작성</h2><!-- 제목 태그 -->
                    </div>
                    <div class="mb-3 row">
                        <label for="boardTitle" class="col-sm-3 col-form-label">제목</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="boardTitle" name="title" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="boardContent" class="col-sm-3 col-form-label">내용</label>
                        <div class="col-sm-9">
                    <textarea type="text" class="form-control" id="boardContent" name="content"
                              style="min-height: 200px" required></textarea>
                        </div>
                    </div>
                    <div class="text-center" style="margin-top: 40px">
                        <button class="btn btn-primary" type="submit">저장</button>
                        <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/board/list}'|">목록
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- Clients-->
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!-- Footer-->
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
</body>
</html>