<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--타임리프를 쓰기 위해 타임리프 문법이 들어있는 url을 선언했다.-->
<head th:replace="fragments/common :: head('Hello, Football Homepage!')">
</head>
<script src="../../static/js/boardInfo.js"></script>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common2 :: menu('[user]')"> <!-- common2 경로에 있는 th:fragment의 값이 menu인 내용을 가져옴 -->
</nav>
<!-- Masthead-->
<header class="masthead" style="background-image: url('/static/images/back/board_background.jpg');">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our FootBall!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#boardInfo">Here to Go</a>
    </div>
</header>
<section class="page-section bg-light" id="boardInfo">
    <div class="container" style="width: 70%">  <!-- container는 꾸며주는 틀 -->
        <div class="text-center card shadow border-0 rounded-4 mb-5">
            <div class="card-body p-5">
                <div class="text-center"> <!-- text-center는 가운데 정렬 -->
                    <h2 style="margin-bottom:50px" class="section-heading text-uppercase">게시글 조회</h2>  <!-- 제목 태그 -->
                </div>
                <div class="mb-3 row">
                    <label for="boardNickname" class="col-sm-4 col-form-label">작성자</label>
                    <div class="col-sm-8">
                        <input style="width:20%" type="text" readonly class="form-control" id="boardNickname"
                               th:value="${info.nickname}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="boardTitle" class="col-sm-4 col-form-label">제목</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control" id="boardTitle" th:value="${info.title}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="boardContent" class="col-sm-4 col-form-label">내용</label>
                    <div class="col-sm-8">
                <textarea type="text" readonly class="form-control" id="boardContent"
                          th:text="${info.content}"></textarea>
                    </div>
                </div>
                <div class="text-center" style="margin-top: 40px; margin-bottom: 40px">
                    <th:block th:if="${#strings.equals(info.nickname, #authentication.name)}">
                        <!--  info.nickname(작성자 이름) , #authentication.name(로그인 계정의 정보에서 아이디값 가져옴) 이 값들을 비교해서 동등하면 버튼을 보여준다-->
                        <button class="btn btn-primary" type="button"
                                th:onclick="|location.href='@{/board/boardUpdate/{boardId}(boardId=${info.board_id})}'|">
                            수정
                        </button>
                        <!--   이렇게 온클릭해주면 수정폼으로 가는 api가 호출이되어서 보드컨트롤러의 보드업데이트로 가고 여기서 저장버튼을 누르면 다시 "board/list"로 리턴—>-->
                        <button class="btn btn-primary" type="button"
                                th:onclick="|location.href='@{/board/boardDelete/{boardId}(boardId=${info.board_id})}'|">
                            삭제
                        </button>
                    </th:block>
                    <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/board/list}'|">목록
                    </button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#commentsForm"
                            aria-expanded="false" aria-controls="collapseExample">
                        댓글 보기
                    </button>
                </div>
                <div class="collapse" id="commentsForm">
                    <div class="card card-body">
                        <!-- 댓글 조회 부분 : 여기는 나중에 조회 api 결과값을 th:each로 변경-->
                        <th:block th:each="comment : ${commentList}">
                            <form th:action="@{/board/commentUpdate}" method="POST">
                                <div class="mb-3 row" th:id="comment + ${comment.board_comments_id}">
                                    <div class="col-sm-2">
                                        <img src="/static/images/board/comment.png" style="display: inline-block; margin-right: 5px">
                                        <p th:text="${comment.nickname}" style="display: inline-block;"></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p th:text="${comment.content}">
                                    </div>
                                    <div class="col-sm-2">
                                        <p th:text="${comment.create_date}"
                                           th:if="${comment.update_date == null}"></p>
                                        <p th:text="${comment.update_date}"
                                           th:if="${comment.update_date != null}"></p>
                                    </div>
                                    <div class="col-sm-2"
                                         th:if="${#strings.equals(comment.nickname, #authentication.name)}">
                                        <img src="/static/images/board/edit.png"
                                             th:nickname="${comment.nickname}" th:content="${comment.content}"
                                             th:boardId="${comment.board_id}"
                                             th:createDate="${comment.create_date}"
                                             th:updateDate="${comment.update_date}"
                                             th:onclick="|editForm(${comment.board_comments_id},this.getAttribute('boardId'),this.getAttribute('nickname'),this.getAttribute('content'),this.getAttribute('createDate'),this.getAttribute('updateDate'))|">
                                        <img src="/static/images/board/delete.png"
                                             th:onclick="|location.href='@{/board/commentDelete/{boardCommentsId}(boardId=${comment.board_id},boardCommentsId=${comment.board_comments_id})}'|">
                                    </div>
                                </div>
                            </form>
                            <!-- 실선 긋기 -->
                            <hr/>
                        </th:block>
                        <!-- 댓글 저장 부분 -->
                        <form th:action="@{/board/saveComments}" method="post">
                            <input type="hidden" name="boardId" id="boardId" th:value="${info.board_id}"/>
                            <div class="mb-3 row" style="margin-top : 20px">
                                <label for="content" class="col-sm-2 col-form-label">댓글</label>
                                <div class="col-sm-10">
                                    <textarea type="text" class="form-control" id="content" name="content"></textarea>
                                </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top : 30px">
                                    <button class="btn btn-primary" type="submit">댓글 저장</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Clients-->
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!-- Footer-->
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
</body>
</html>