<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--타임리프를 쓰기 위해 타임리프 문법이 들어있는 url을 선언했다.-->
<head th:replace="fragments/common :: head('Hello, Football Homepage!')">
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common2 :: menu('[user]')"> <!-- common2 경로에 있는 th:fragment의 값이 menu인 내용을 가져옴 -->
</nav>
<!-- Masthead-->
<header class="masthead" style="background-image: url('/static/images/back/board_background.jpg');">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our FootBall!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#boardUpdate">Here to Go</a>
    </div>
</header>

<section class="page-section bg-light" id="boardUpdate">
    <form id="form1" th:action="@{/board/boardUpdate/{boardId}(boardId=${info.board_id})}" method="post">
        <input type="hidden" id="click" name="click" value="0">
        <div class="container" style="width:70%">  <!-- container는 꾸며주는 틀 -->
            <div class="text-center card shadow border-0 rounded-4 mb-5">
                <div class="card-body p-5">
                    <div class="text-center"> <!-- text-center는 가운데 정렬 -->
                        <h2 style="margin-bottom:50px" class="section-heading text-uppercase">게시글 수정</h2><!-- 제목 태그 -->
                    </div>
                    <div class="mb-3 row">
                        <label for="boardNickname" class="col-sm-4 col-form-label">작성자</label>
                        <div class="col-sm-6">
                            <input style="width:20%" type="text" readonly class="form-control" id="boardNickname"
                                   name="nickname" th:value="${info.nickname}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="boardTitle" class="col-sm-4 col-form-label">제목</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="boardTitle" name="title"
                                   th:value="${info.title}" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="boardContent" class="col-sm-4 col-form-label">내용</label>
                        <div class="col-sm-6">
                            <textarea type="text" class="form-control" id="boardContent" name="content"
                                      th:text="${info.content}" required></textarea>
                        </div>
                    </div>
                    <div class="text-center" style="margin-top: 40px">
                        <button class="btn btn-primary" type="submit">저장</button>
                        <!--      <!—        이렇게 온클릭해주면 수정폼으로 가는 api가 호출이되어서 보드컨트롤러의 보드업데이트로 가고 여기서 저장버튼을 누르면 다시 "board/list"로 리턴—>-->
                        <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/board/list}'|">목록
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- Clients-->
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!-- Footer-->
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
</body>
</html>