<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('Hello, Football Homepage!')">
</head>
<script src="../../static/js/boardList.js"></script>
<body id="page-top">
<!-- Navigation: 내부바 = 토탈풋볼 -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common2 :: menu"> <!-- common2 경로에 있는 th:fragment의 값이 menu인 내용을 가져옴 -->
</nav>
<!-- Masthead: 챔스 배경 화면 >> 이건 직접 넣은 코드 -->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our FootBall!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#teamListMain">Here to Go</a>
    </div>
</header>
<section class="page-section bg-light" id="teamListMain">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">게시판</h2>
        </div>
    <form id="form1">
        <input type="hidden" id="page" name="page" value="1">
        <input type="hidden" name="sortColumn" id="sortColumn" value=""/>
        <input type="hidden" name="sortType" id="sortType" value=""/>
        <input type="hidden" name="idx" id="idx" value=""/>
        <div id="boardListAjax"></div> <!-- listAjax.html의 전체 소스가 들어감 -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/board/boardRegister}'|">글 작성</button>
        </div>
    </form>
    </div>
</section>
<!-- Clients: 구글/페이스북 등등 ~ -->
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!-- Footer: 카피라이터 등등 ~ -->
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
</body>
</html>
