<h4 style="text-align: center; margin-bottom: 20px">전체 선수 순위</h4>
<table>
    <thead>
    <tr style="text-align: center">
        <th scope="col">순위</th>
        <th scope="col">선수</th>
        <th scope="col">경기수 <img id="sort1" class="game_match"
                                 src="../../static/images/rank/sortUp.png"
                                 onclick="sortUpDown(1);"></th>
        <th scope="col">출전시간 <img id="sort2" class="playing_time"
                                 src="../../static/images/rank/sortUp.png"
                                 onclick="sortUpDown(2);"></th>
        <th scope="col">득점 <img id="sort3" class="goal"
                               src="../../static/images/rank/sortUp.png"
                               onclick="sortUpDown(3);"></th>
        <th scope="col">도움 <img id="sort4" class="assist"
                               src="../../static/images/rank/sortUp.png"
                               onclick="sortUpDown(4);"></th>
        <th scope="col">공격포인트 <img id="sort5" class="total_point"
                                   src="../../static/images/rank/sortUp.png"
                                   onclick="sortUpDown(5);"></th>
        <th scope="col">평점 <img id="sort6" class="rating"
                                src="../../static/images/rank/sortUp.png"
                                onclick="sortUpDown(6);"></th>
        <th scope="col">mvp <img id="sort7" class="mvp"
                                 src="../../static/images/rank/sortUp.png"
                                 onclick="sortUpDown(7);"></th>
        <th scope="col">경고 <img id="sort8" class="yellow_card"
                                src="../../static/images/rank/sortUp.png"
                                onclick="sortUpDown(8);"></th>
        <th scope="col">퇴장 <img id="sort9" class="red_card"
                                src="../../static/images/rank/sortUp.png"
                                onclick="sortUpDown(9);"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player_rank, playerStat : ${player}" style="text-align: center">
        <td th:text="${(PageMaker.criteria.page - 1) * 10 + playerStat.index + 1}"></td>
        <td th:text="${player_rank.name}"></td>
        <td th:text="${player_rank.game_match}"></td>
        <td th:text="${player_rank.playing_time}"></td>
        <td th:text="${player_rank.goal}"></td>
        <td th:text="${player_rank.assist}"></td>
        <td th:text="${player_rank.total_point}"></td>
        <td th:text="${player_rank.rating}"></td>
        <td th:text="${player_rank.mvp}"></td>
        <td th:text="${player_rank.yellow_card}"></td>
        <td th:text="${player_rank.red_card}"></td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" th:sortColumn="${PageMaker.criteria.sortColumn}" th:sortType="${PageMaker.criteria.sortType}" th:idx="${PageMaker.criteria.idx}"
               th:onclick="|javascript:rankPlayerAjax(${PageMaker.startPage - PageMaker.displayPageNum},this.getAttribute('sortColumn'),this.getAttribute('sortType'),this.getAttribute('idx'))|" aria-label="Previous" th:classappend="${PageMaker.startPage == 1} ? ' disabled' : ''">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" th:sortColumn="${PageMaker.criteria.sortColumn}" th:sortType="${PageMaker.criteria.sortType}" th:idx="${PageMaker.criteria.idx}"
               th:onclick="|javascript:rankPlayerAjax(${PageMaker.criteria.page - 1},this.getAttribute('sortColumn'),this.getAttribute('sortType'),this.getAttribute('idx'))|" aria-label="Previous" th:classappend="${PageMaker.criteria.page == 1} ? ' disabled' : ''">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
        <th:block  th:each="num : ${#numbers.sequence(PageMaker.startPage,PageMaker.endPage)}">
            <li class="page-item" th:classappend="${PageMaker.criteria.page == num} ? ' active' : ''"><a class="page-link" th:sortColumn="${PageMaker.criteria.sortColumn}" th:sortType="${PageMaker.criteria.sortType}" th:idx="${PageMaker.criteria.idx}"
                                                                                                         th:onclick="|javascript:rankPlayerAjax(${num},this.getAttribute('sortColumn'),this.getAttribute('sortType'),this.getAttribute('idx'))|" th:text="${num}"></a></li>
        </th:block>
        <li class="page-item">
            <a class="page-link" th:sortColumn="${PageMaker.criteria.sortColumn}" th:sortType="${PageMaker.criteria.sortType}" th:idx="${PageMaker.criteria.idx}"
               th:onclick="|javascript:rankPlayerAjax(${PageMaker.criteria.page + 1},this.getAttribute('sortColumn'),this.getAttribute('sortType'),this.getAttribute('idx'))|" aria-label="Next" th:classappend="${PageMaker.criteria.page == PageMaker.maxPage} ? ' disabled' : ''">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" th:sortColumn="${PageMaker.criteria.sortColumn}" th:sortType="${PageMaker.criteria.sortType}" th:idx="${PageMaker.criteria.idx}"
               th:onclick="|javascript:rankPlayerAjax(${PageMaker.endPage + 1},this.getAttribute('sortColumn'),this.getAttribute('sortType'),this.getAttribute('idx'))|" aria-label="Next" th:classappend="${PageMaker.endPage == PageMaker.maxPage} ? ' disabled' : ''">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
