<table class="table">
    <thead>
    <tr>
        <th scope="col">순위</th>
        <th scope="col">선수</th>
        <th scope="col">경기수</th>
        <th scope="col">출전시간</th>
        <th scope="col">득점</th>
        <th scope="col">도움</th>
        <th scope="col">공격포인트</th>
        <th scope="col">평점</th>
        <th scope="col">mvp</th>
        <th scope="col">경고</th>
        <th scope="col">퇴장</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player_rank, playerStat : ${player}">
        <td th:text="${(PageMaker.criteria.page - 1) * 10 + playerStat.index + 1}"></td>
        <td th:text="${player_rank.name}"></td>
        <td th:text="${player_rank.game_match}"></td>
        <td th:text="${player_rank.playing_time}"></td>
        <td th:text="${player_rank.goal}"></td>
        <td th:text="${player_rank.assist}"></td>
        <td th:text="${player_rank.total_point}"></td>
        <td th:text="${player_rank.rating}"></td>
        <td th:text="${player_rank.mvp}"></td>
        <td th:text="${player_rank.yellow_card}"></td>
        <td th:text="${player_rank.red_card}"></td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" th:onclick="|javascript:rankPlayerAjax(${PageMaker.criteria.page - 1})|" aria-label="Previous" th:classappend="${PageMaker.criteria.page == 1} ? ' disabled' : ''">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <th:block th:if="${PageMaker.endPage > PageMaker.displayPageNum && PageMaker.criteria.page + (PageMaker.displayPageNum - 1) < PageMaker.endPage}">
            <th:block  th:each="num : ${#numbers.sequence(PageMaker.criteria.page,PageMaker.criteria.page+2)}">
                <li class="page-item" th:classappend="${PageMaker.criteria.page == num} ? ' active' : ''"><a class="page-link" th:onclick="|javascript:rankPlayerAjax(${num})|" th:text="${num}"></a></li>
            </th:block>
            <li class="page-item" th:classappend="${PageMaker.criteria.page == num} ? ' active' : ''"><a class="page-link" th:text="..."></a></li>
            <th:block  th:each="num : ${#numbers.sequence(PageMaker.endPage - 2,PageMaker.endPage)}">
                <li class="page-item" th:classappend="${PageMaker.criteria.page == num} ? ' active' : ''"><a class="page-link" th:onclick="|javascript:rankPlayerAjax(${num})|" th:text="${num}"></a></li>
            </th:block>
        </th:block>
        <th:block th:unless="${PageMaker.endPage > PageMaker.displayPageNum && PageMaker.criteria.page + (PageMaker.displayPageNum - 1) < PageMaker.endPage}">
            <th:block th:if="PageMaker.endPage <= PageMaker.displayPageNum" th:each="num : ${#numbers.sequence(1,PageMaker.endPage)}">
                <li class="page-item" th:classappend="${PageMaker.criteria.page == num} ? ' active' : ''"><a class="page-link" th:onclick="|javascript:rankPlayerAjax(${num})|" th:text="${num}"></a></li>
            </th:block>
            <th:block th:if="PageMaker.endPage > PageMaker.displayPageNum" th:each="num : ${#numbers.sequence((PageMaker.endPage)-(PageMaker.displayPageNum - 1),PageMaker.endPage)}">
                <li class="page-item" th:classappend="${PageMaker.criteria.page == num} ? ' active' : ''"><a class="page-link" th:onclick="|javascript:rankPlayerAjax(${num})|" th:text="${num}"></a></li>
            </th:block>
        </th:block>
        <li class="page-item">
            <a class="page-link" th:onclick="|javascript:rankPlayerAjax(${PageMaker.criteria.page + 1})|" aria-label="Next" th:classappend="${PageMaker.criteria.page == PageMaker.endPage} ? ' disabled' : ''">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
