<ul class="nav nav-tabs nav-fill flex-column flex-sm-row" style="margin-bottom: 50px">
    <li class="nav-item">
        <a id="leagueTab1" class="nav-link active" aria-current="page" th:onclick="|leagueTabAjax(1)|">프리미어리그</a>
    </li>
    <li class="nav-item">
        <a id="leagueTab2" class="nav-link"  th:onclick="|leagueTabAjax(2)|">라리가</a>
    </li>
    <li class="nav-item">
        <a id="leagueTab3" class="nav-link"  th:onclick="|leagueTabAjax(3)|">세리에A</a>
    </li>
    <li class="nav-item">
        <a id="leagueTab4" class="nav-link"  th:onclick="|leagueTabAjax(4)|">분데스리가</a>
    </li>
    <li class="nav-item">
        <a id="leagueTab5" class="nav-link"  th:onclick="|leagueTabAjax(5)|">리그1</a>
    </li>
</ul>
<h4 style="text-align: center; margin-bottom: 20px">전체 리그별 팀 순위</h4>
<table>
    <thead>
    <tr style="text-align: center">
        <th scope="col">순위</th>
        <th scope="col">팀</th>
        <th scope="col">경기수 <img id="sort1" class="game_match"
                                 src="../../static/images/rank/sortUp.png"
                                 onclick="teamSortUpDown(1);"></th>
        <th scope="col">승점 <img id="sort2" class="point"
                                src="../../static/images/rank/sortUp.png"
                                onclick="teamSortUpDown(2);"></th>
        <th scope="col">승 <img id="sort3" class="win"
                               src="../../static/images/rank/sortUp.png"
                               onclick="teamSortUpDown(3);"></th>
        <th scope="col">무 <img id="sort4" class="draw"
                               src="../../static/images/rank/sortUp.png"
                               onclick="teamSortUpDown(4);"></th>
        <th scope="col">패 <img id="sort5" class="lose"
                               src="../../static/images/rank/sortUp.png"
                               onclick="teamSortUpDown(5);"></th>
        <th scope="col">득점 <img id="sort6" class="plus_goal"
                                src="../../static/images/rank/sortUp.png"
                                onclick="teamSortUpDown(6);"></th>
        <th scope="col">실점 <img id="sort7" class="minus_goal"
                                src="../../static/images/rank/sortUp.png"
                                onclick="teamSortUpDown(7);"></th>
        <th scope="col">득실차 <img id="sort8" class="diff_goal"
                                 src="../../static/images/rank/sortUp.png"
                                 onclick="teamSortUpDown(8);"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team_rank : ${list}" style="text-align: center">
        <td th:text="${team_rankStat.index + 1}"></td>
        <td th:text="${team_rank.team_name}"></td>
        <td th:text="${team_rank.game_match}"></td>
        <td th:text="${team_rank.point}"></td>
        <td th:text="${team_rank.win}"></td>
        <td th:text="${team_rank.draw}"></td>
        <td th:text="${team_rank.lose}"></td>
        <td th:text="${team_rank.plus_goal}"></td>
        <td th:text="${team_rank.minus_goal}"></td>
        <td th:text="${team_rank.diff_goal}"></td>
    </tr>
    </tbody>
</table>