<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minki.football.mapper.team.TeamMapper">

    <select id="list" resultType="com.minki.football.dto.team.TeamRes">
        select team_id, team_name, logo_image_path, league_id
        from team
        where league_id = #{leagueId}
    </select>
<!--    &#45;&#45;  select로 실행 된 구문의 결과값이 resultType에 담아지고 이게 Mapper로 간다.-->

    <select id="info" resultType="com.minki.football.dto.team.TeamRes">
        select
                team_id,
                team_name,
                team_style,
                logo_image_path,
                best_image_path
        from team
        where team_id = #{teamId}
    </select>

    <select id="playerList" resultType="com.minki.football.dto.team.PlayerRes">
        select
            player_id,
            name,
            back_number,
            position,
            file_name,
            file_size,
            file_bytes,
            mime_type
        from player
        where team_id = #{teamId} and position = #{position}
    </select>

    <select id="playerInfo" resultType="com.minki.football.dto.team.PlayerRes">
        select player_id,
               name,
               height,
               weight,
               game_match,
               playing_time,
               goal,
               assist,
               yellow_card,
               red_card,
               mvp,
               rating,
               position,
               age,
               total_point,
               back_number,
               nationality,
               play_style,
               strength,
               weakness,
               file_name,
               file_size,
               file_bytes,
               mime_type
        from player
        where player_id = #{playerId}
    </select>
</mapper>