<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minki.football.mapper.admin.AdminMapper">

<!--    // 1. 팀 관리 리스트 조회-->
    <select id="list" resultType="com.minki.football.dto.team.TeamRes">
        select *
        from team
        where league_id = #{leagueId}
    </select>

    <!--// 수정폼 조회-->
    <select id="teamInfo" resultType="com.minki.football.dto.team.TeamRes">
        select *
        from team
        where team_id = #{teamId}
    </select>

    <!--// 수정 및 저장-->
    <update id="teamUpdate" parameterType="com.minki.football.dto.team.TeamRes">
        update team set
        game_rank = #{game_rank},
        team_name = #{team_name},
        game_match = #{game_match},
        point = #{point},
        win = #{win},
        draw = #{draw},
        lose = #{lose},
        plus_goal = #{plus_goal},
        minus_goal = #{minus_goal},
        diff_goal = #{diff_goal},
        team_style = #{team_style},
        logo_image_path = #{logo_image_path},
        best_image_path = #{best_image_path}
        where team_id = #{team_id}
    </update>

    <!--//선수 관리 리스트 조회-->
    <select id="playerList" resultType="com.minki.football.dto.team.PlayerRes" parameterType="com.minki.football.dto.page.Criteria">
        select *
        from player
        <where>
            <if test="noticeSearchText != null and noticeSearchText != ''">
                AND ${noticeSearchType} like concat('%',#{noticeSearchText},'%')
            </if>
        </where>
        order by ${sort}
        LIMIT #{pageStart}, #{perPageNum}
    </select>

    <!--//전체 플레이어수 조회-->
    <select id="playerCount" resultType="Integer" parameterType="com.minki.football.dto.page.Criteria">
        select count(*)
        from player
        <where>
            <if test="noticeSearchText != null and noticeSearchText != ''">
                AND ${noticeSearchType} like concat('%',#{noticeSearchText},'%')
            </if>
        </where>
    </select>

</mapper>