<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minki.football.mapper.admin.AdminMapper">

<!--    // 1. 팀 관리 리스트 조회-->
    <select id="list" resultType="com.minki.football.dto.team.TeamRes">
        select *
        from team
        where league_id = #{leagueId}
    </select>

    <!--// 수정폼 조회-->
    <select id="teamInfo" resultType="com.minki.football.dto.team.TeamRes">
        select *
        from team
        where team_id = #{teamId}
    </select>

    <!--// 수정 및 저장-->
    <update id="teamUpdate" parameterType="com.minki.football.dto.team.TeamRes">
        update team set
        game_rank = #{game_rank},
        team_name = #{team_name},
        game_match = #{game_match},
        point = #{point},
        win = #{win},
        draw = #{draw},
        lose = #{lose},
        plus_goal = #{plus_goal},
        minus_goal = #{minus_goal},
        diff_goal = #{diff_goal},
        team_style = #{team_style},
        logo_image_path = #{logo_image_path},
        best_image_path = #{best_image_path}
        where team_id = #{teamId}
    </update>


</mapper>