<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minki.football.mapper.admin.AdminMapper">

<!--    // 1. 팀 관리 리스트 조회-->
    <select id="teamList" resultType="com.minki.football.dto.team.TeamRes">
        select *
        from team
        where league_id = #{leagueId}
    </select>

    <!--// 수정폼 조회-->
    <select id="teamInfo" resultType="com.minki.football.dto.team.TeamRes">
        select *
        from team
        where team_id = #{teamId}
    </select>

    <!--// 수정 및 저장-->
    <update id="teamUpdate" parameterType="com.minki.football.dto.team.TeamRes">
        update team set
        game_rank = #{game_rank},
        team_name = #{team_name},
        game_match = #{game_match},
        point = #{point},
        win = #{win},
        draw = #{draw},
        lose = #{lose},
        plus_goal = #{plus_goal},
        minus_goal = #{minus_goal},
        diff_goal = #{diff_goal},
        team_style = #{team_style}
        where team_id = #{team_id}
    </update>

    <!--//선수 관리 리스트 조회-->
    <select id="playerList" resultType="com.minki.football.dto.team.PlayerRes" parameterType="com.minki.football.dto.page.Criteria">
        select *
        from player
        <where>
            <if test="noticeSearchText != null and noticeSearchText != ''">
                AND ${noticeSearchType} like concat('%',#{noticeSearchText},'%')
            </if>
        </where>
        order by ${sort}
        LIMIT #{pageStart}, #{perPageNum}
    </select>

    <!--//전체 플레이어수 조회-->
    <select id="playerCount" resultType="Integer" parameterType="com.minki.football.dto.page.Criteria">
        select count(*)
        from player
        <where>
            <if test="noticeSearchText != null and noticeSearchText != ''">
                AND ${noticeSearchType} like concat('%',#{noticeSearchText},'%')
            </if>
        </where>
    </select>

    <!--// 플레이어 수정폼 조회-->
    <select id="playerInfo" resultType="com.minki.football.dto.team.PlayerRes">
        select *
        from player
        where player_id = #{playerId}
    </select>

    <!--// 플레이어 정보 수정 및 저장-->
    <update id="playerUpdate" parameterType="com.minki.football.dto.team.PlayerRes">
        update player <trim prefix="SET" suffixOverrides=",">
                          name = #{name},
                          height = #{height},
                          weight = #{weight},
                          age  = #{age},
                          position = #{position},
                          game_match = #{game_match},
                          playing_time = #{playing_time},
                          goal = #{goal},
                          assist = #{assist},
                          total_point = #{total_point},
                          yellow_card = #{yellow_card},
                          red_card = #{red_card},
                          rating = #{rating},
                          mvp = #{mvp},
                          nationality = #{nationality},
                          play_style = #{play_style},
                          strength = #{strength},
                          weakness = #{weakness},
                          back_number = #{back_number},
        <if test="file_name != null and file_name != ''">
            file_name = #{file_name},
        </if>
        <if test="file_size != null and file_size != ''">
            file_size = #{file_size},
        </if>
        <if test="file_bytes != null and file_bytes != ''">
            file_bytes = #{file_bytes},
        </if>
        <if test="mime_type != null and mime_type != ''">
            mime_type = #{mime_type}
        </if>
    </trim>
        where player_id = #{player_id}
    </update>

    <!--// 회원 정보 리스트 조회-->
    <select id="memberList" resultType="com.minki.football.dto.user.UserRes" parameterType="com.minki.football.dto.page.Criteria">
        select *
        from member
        <where>
            <if test="noticeSearchText != null and noticeSearchText != ''">
                AND ${noticeSearchType} like concat('%',#{noticeSearchText},'%')
            </if>
        </where>
        order by ${sort}
        LIMIT #{pageStart}, #{perPageNum}
    </select>

    <!--//전체 회원수 조회-->
    <select id="memberCount" resultType="Integer" parameterType="com.minki.football.dto.page.Criteria">
        select count(*)
        from member
        <where>
            <if test="noticeSearchText != null and noticeSearchText != ''">
                AND ${noticeSearchType} like concat('%',#{noticeSearchText},'%')
            </if>
        </where>
    </select>

</mapper>