<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('SignUp page!')">
</head>
<script src="../../static/js/signup.js"></script>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common :: menu('')">
</nav>
<header class="masthead">
    <h2 style="margin-bottom: 50px">회원가입</h2>
    <form th:action="@{/user/signup}" method="post" id="signUpForm" class="needs-validation" novalidate>
<!--        <div class="mb-3">-->
<!--            <label for="inputPassword">Password</label>-->
<!--                <input type="password" class="form-control2" id="inputPassword">-->
<!--        </div>-->
        <div class="mb-3 row">
            <div class="col">
            <input type="text" class="form-control" id="username" name="username" placeholder="Id" required/>
            </div>
            <div class="col">
            <button type="button" class="btn btn-primary text-uppercase" onclick="idCheckAjax()">중복체크</button>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required/>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname" required/>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" onkeyup="passwordCheck(this.value)" id="password" name="password" placeholder="Password" required/>
            <div id="password-error" class="invalid-feedback">영문,숫자,특수문자를 조합한 8자리 이상을 입력하세요.</div>
        </div>
        <div class="mb-3">
            <input type="date"  class="form-control" id="birthday" name="birthday" placeholder="Birthday" required/>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" onkeyup="phoneCheck(this.value)" id="phone" name="phone" placeholder="Phone" required/>
            <div id="phone-error" class="invalid-feedback">숫자만 입력하세요.</div>
        </div>
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="gender" value="남" required>
                <label class="form-check-label">남자</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="gender" value="여" required>
                <label class="form-check-label">여자</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg text-uppercase">회원가입</button>
        <button type="button" class="btn btn-primary btn-lg text-uppercase" onclick="location.href='/user/login'">로그인</button>
    </form>
</header>
<!-- Clients-->
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!-- Footer-->
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
</body>
</html>
