<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head('SignUp page!')">
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/header :: menu">
</nav>
<header class="masthead">
    <h2>회원가입</h2>
    <form th:action="@{/user/signup}" method="post">
        <div>
            <input type="text" id="username" name="username" placeholder="*username"/>
        </div>
        <div>
            <input type="text" id="name" name="name" placeholder="Name"/>
        </div>
        <div>
            <input type="text" id="nickname" name="nickname" placeholder="nickname"/>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password"/>
        </div>
        <div>
            <input type="text" id="birthday" name="birthday" placeholder="birthday"/>
        </div>
        <div>
            <input type="text" id="gender" name="gender" placeholder="gender"/>
        </div>
        <div>
            <input type="text" id="phone" name="phone" placeholder="Phone"/>
        </div>
        <input type="submit" value="회원가입"/>
        <!--    <button type="submit">회원가입</button>-->
    </form>
</header>
<!-- Clients-->
<div class="py-5" th:replace="fragments/header::clients">
</div>
<!-- Footer-->
<footer class="footer py-4" th:replace="fragments/header::footer">
</footer>
</body>
</html>