<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('Hello, Football Homepage!')">
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common :: menu">
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our FootBall!</div>
        <!--        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>-->
        <div sec:authorize="!isAuthenticated()" class="mainBtn">
            <a class="btn btn-primary btn-lg text-uppercase" href="/user/login">Login</a>
            <a class="btn btn-primary btn-lg text-uppercase" href="/user/signup">SignUp</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="btn btn-primary btn-xl text-uppercase" href="#league">Here to Go</a>
        </div>
    </div>
</header>
<!-- Services-->
<div sec:authorize="isAuthenticated()">
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="league">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">League</h2>
                <h3 class="section-subheading text-muted">5개의 리그가 있습니다.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4" th:each="league : ${leagueList}">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
<!--                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1" >-->
                        <a class="portfolio-link" data-bs-toggle="modal" th:onclick="'modalAjax('+${league.league_id}+');'">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" th:src="${league.logo_image_path}" alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading" th:text="${league.league_name}">...</div>
                            <!--                            <div class="portfolio-caption-subheading text-muted">Illustration</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-->
    <section class="page-section" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Team</h2>
                <h3 class="section-subheading text-muted">다양한 팀들의 정보를 확인하세요.</h3>
                <img src="../static/images/player/팀메인사진.jpg" th:onclick="|location.href='@{/team/list/1}'|" alt="…"/>
            </div>
<!--            <ul class="timeline">-->
<!--                <li>-->
<!--                    <div class="timeline-image"><img class="rounded-circle img-fluid"-->
<!--                                                     src="../static/assets/img/about/1.jpg" alt="..."/></div>-->
<!--                    <div class="timeline-panel">-->
<!--                        <div class="timeline-heading">-->
<!--                            <h4>2009-2011</h4>-->
<!--                            <h4 class="subheading">Our Humble Beginnings</h4>-->
<!--                        </div>-->
<!--                        <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur-->
<!--                            adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui-->
<!--                            quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium-->
<!--                            consectetur!</p></div>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="timeline-inverted">-->
<!--                    <div class="timeline-image"><img class="rounded-circle img-fluid"-->
<!--                                                     src="../static/assets/img/about/2.jpg" alt="..."/></div>-->
<!--                    <div class="timeline-panel">-->
<!--                        <div class="timeline-heading">-->
<!--                            <h4>March 2011</h4>-->
<!--                            <h4 class="subheading">An Agency is Born</h4>-->
<!--                        </div>-->
<!--                        <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur-->
<!--                            adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui-->
<!--                            quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium-->
<!--                            consectetur!</p></div>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <div class="timeline-image"><img class="rounded-circle img-fluid"-->
<!--                                                     src="../static/assets/img/about/3.jpg" alt="..."/></div>-->
<!--                    <div class="timeline-panel">-->
<!--                        <div class="timeline-heading">-->
<!--                            <h4>December 2015</h4>-->
<!--                            <h4 class="subheading">Transition to Full Service</h4>-->
<!--                        </div>-->
<!--                        <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur-->
<!--                            adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui-->
<!--                            quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium-->
<!--                            consectetur!</p></div>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="timeline-inverted">-->
<!--                    <div class="timeline-image"><img class="rounded-circle img-fluid"-->
<!--                                                     src="../static/assets/img/about/4.jpg" alt="..."/></div>-->
<!--                    <div class="timeline-panel">-->
<!--                        <div class="timeline-heading">-->
<!--                            <h4>July 2020</h4>-->
<!--                            <h4 class="subheading">Phase Two Expansion</h4>-->
<!--                        </div>-->
<!--                        <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur-->
<!--                            adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui-->
<!--                            quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium-->
<!--                            consectetur!</p></div>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="timeline-inverted">-->
<!--                    <div class="timeline-image">-->
<!--                        <h4>-->
<!--                            Be Part-->
<!--                            <br/>-->
<!--                            Of Our-->
<!--                            <br/>-->
<!--                            Story!-->
<!--                        </h4>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </section>
    <!-- Team-->
    <section class="page-section bg-light" id="rank">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Rank</h2>
                <h3 class="section-subheading text-muted">여러 팀과 선수들의 기록을 확인하세요.</h3>
            </div>
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image"><img class="rounded-circle img-fluid2"
                                                                 src="../static/images/rank/팀2.jpg" alt="..."/></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>2022-2023</h4>
                                        <h4 class="subheading">Team Rank</h4>
                                    </div>
                                    <div class="timeline-body"><p class="text-muted">5개의 빅리그에 대표적인 팀들의 다양한 기록을 볼 수 있습니다.
                                        각 리그의 우승 경쟁 결과와 순위를 확인하세요!</p></div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image"><img class="rounded-circle img-fluid2"
                                                                 src="../static/images/rank/개인4.jpg" alt="..."/></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>2022-2023</h4>
                                        <h4 class="subheading">Player Rank</h4>
                                    </div>
                                    <div class="timeline-body"><p class="text-muted">선수들의 득점, 도움 등 중요 개인 스탯을 확인할 수 있습니다.
                                        가장 뛰어난 선수가 누구인지 직접 보고 생각해보세요!</p></div>
                                </div>
                            </li>
<!--                            <li>-->
<!--                                <div class="timeline-image"><img class="rounded-circle img-fluid2"-->
<!--                                                                 src="../static/assets/img/about/3.jpg" alt="..."/></div>-->
<!--                                <div class="timeline-panel">-->
<!--                                    <div class="timeline-heading">-->
<!--                                        <h4>December 2015</h4>-->
<!--                                        <h4 class="subheading">Transition to Full Service</h4>-->
<!--                                    </div>-->
<!--                                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur-->
<!--                                        adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui-->
<!--                                        quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium-->
<!--                                        consectetur!</p></div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li class="timeline-inverted">-->
<!--                                <div class="timeline-image"><img class="rounded-circle img-fluid2"-->
<!--                                                                 src="../static/assets/img/about/4.jpg" alt="..."/></div>-->
<!--                                <div class="timeline-panel">-->
<!--                                    <div class="timeline-heading">-->
<!--                                        <h4>July 2020</h4>-->
<!--                                        <h4 class="subheading">Phase Two Expansion</h4>-->
<!--                                    </div>-->
<!--                                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur-->
<!--                                        adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui-->
<!--                                        quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium-->
<!--                                        consectetur!</p></div>-->
<!--                                </div>-->
<!--                            </li>-->
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4>
                                        Enjoy
                                        <br/>
                                        The
                                        <br/>
                                        Football!
                                    </h4>
                                </div>
                            </li>
                        </ul>
<!--            <div class="row">-->
<!--                <div class="col-lg-4">-->
<!--                    <div class="team-member">-->
<!--                        <img class="mx-auto rounded-circle" src="../static/assets/img/team/1.jpg" alt="..."/>-->
<!--                        <h4>Parveen Anand</h4>-->
<!--                        <p class="text-muted">Lead Designer</p>-->
<!--                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i-->
<!--                                class="fab fa-twitter"></i></a>-->
<!--                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i-->
<!--                                class="fab fa-facebook-f"></i></a>-->
<!--                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i-->
<!--                                class="fab fa-linkedin-in"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4">-->
<!--                    <div class="team-member">-->
<!--                        <img class="mx-auto rounded-circle" src="../static/assets/img/team/2.jpg" alt="..."/>-->
<!--                        <h4>Diana Petersen</h4>-->
<!--                        <p class="text-muted">Lead Marketer</p>-->
<!--                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i-->
<!--                                class="fab fa-twitter"></i></a>-->
<!--                        <a class="btn btn-dark btn-social mx-2" href="#!"-->
<!--                           aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>-->
<!--                        <a class="btn btn-dark btn-social mx-2" href="#!"-->
<!--                           aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4">-->
<!--                    <div class="team-member">-->
<!--                        <img class="mx-auto rounded-circle" src="../static/assets/img/team/3.jpg" alt="..."/>-->
<!--                        <h4>Larry Parker</h4>-->
<!--                        <p class="text-muted">Lead Developer</p>-->
<!--                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i-->
<!--                                class="fab fa-twitter"></i></a>-->
<!--                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i-->
<!--                                class="fab fa-facebook-f"></i></a>-->
<!--                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i-->
<!--                                class="fab fa-linkedin-in"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet,-->
<!--                    consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam-->
<!--                    corporis ea, alias ut unde.</p></div>-->
<!--            </div>-->
        </div>
    </section>
    <!-- Contact-->
<!--    <section class="page-section" id="contact">-->
<!--        <div class="container">-->
<!--            <div class="text-center">-->
<!--                <h2 class="section-heading text-uppercase">Contact Us</h2>-->
<!--                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
<!--            </div>-->
<!--            &lt;!&ndash; * * * * * * * * * * * * * * *&ndash;&gt;-->
<!--            &lt;!&ndash; * * SB Forms Contact Form * *&ndash;&gt;-->
<!--            &lt;!&ndash; * * * * * * * * * * * * * * *&ndash;&gt;-->
<!--            &lt;!&ndash; This form is pre-integrated with SB Forms.&ndash;&gt;-->
<!--            &lt;!&ndash; To make this form functional, sign up at&ndash;&gt;-->
<!--            &lt;!&ndash; https://startbootstrap.com/solution/contact-forms&ndash;&gt;-->
<!--            &lt;!&ndash; to get an API token!&ndash;&gt;-->
<!--            <form id="contactForm" data-sb-form-api-token="API_TOKEN">-->
<!--                <div class="row align-items-stretch mb-5">-->
<!--                    <div class="col-md-6">-->
<!--                        <div class="form-group">-->
<!--                            &lt;!&ndash; Name input&ndash;&gt;-->
<!--                            <input class="form-control" id="name" type="text" placeholder="Your Name *"-->
<!--                                   data-sb-validations="required"/>-->
<!--                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            &lt;!&ndash; Email address input&ndash;&gt;-->
<!--                            <input class="form-control" id="email" type="email" placeholder="Your Email *"-->
<!--                                   data-sb-validations="required,email"/>-->
<!--                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>-->
<!--                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>-->
<!--                        </div>-->
<!--                        <div class="form-group mb-md-0">-->
<!--                            &lt;!&ndash; Phone number input&ndash;&gt;-->
<!--                            <input class="form-control" id="phone" type="tel" placeholder="Your Phone *"-->
<!--                                   data-sb-validations="required"/>-->
<!--                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is-->
<!--                                required.-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-6">-->
<!--                        <div class="form-group form-group-textarea mb-md-0">-->
<!--                            &lt;!&ndash; Message input&ndash;&gt;-->
<!--                            <textarea class="form-control" id="message" placeholder="Your Message *"-->
<!--                                      data-sb-validations="required"></textarea>-->
<!--                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Submit success message&ndash;&gt;-->
<!--                &lt;!&ndash;&ndash;&gt;-->
<!--                &lt;!&ndash; This is what your users will see when the form&ndash;&gt;-->
<!--                &lt;!&ndash; has successfully submitted&ndash;&gt;-->
<!--                <div class="d-none" id="submitSuccessMessage">-->
<!--                    <div class="text-center text-white mb-3">-->
<!--                        <div class="fw-bolder">Form submission successful!</div>-->
<!--                        To activate this form, sign up at-->
<!--                        <br/>-->
<!--                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Submit error message&ndash;&gt;-->
<!--                &lt;!&ndash;&ndash;&gt;-->
<!--                &lt;!&ndash; This is what your users will see when there is&ndash;&gt;-->
<!--                &lt;!&ndash; an error submitting the form&ndash;&gt;-->
<!--                <div class="d-none" id="submitErrorMessage">-->
<!--                    <div class="text-center text-danger mb-3">Error sending message!</div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Submit Button&ndash;&gt;-->
<!--                <div class="text-center">-->
<!--                    <button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send-->
<!--                        Message-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </section>-->
</div>
<!-- Clients-->
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!-- Footer-->
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
<!-- Portfolio Modals-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true"></div>
</body>
</html>
