<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('Hello, Football Homepage!')">
</head>
<script src="../static/js/signup.js"></script>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common :: menu(${role})">
</nav>
<!-- Masthead-->
<header class="masthead" style="background-image: url('/static/images/back/mainpage.png');">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="container">
        <div class="masthead-subheading">Welcome To Our FootBall!</div>
        <!--        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>-->
        <div sec:authorize="!isAuthenticated()" class="mainBtn">
            <!--    로그인 폼 부분-->
            <form th:action="@{/user/loginProc}" method="post" id="loginForm" class="needs-validation" novalidate>
                <h2>로그인</h2>
                <div class="mb-3">
                    <input type="text" class="form-control" name=username placeholder="Id" required/>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password" required/>
                </div>
                <div th:if="${error != null}" class="alert alert-danger d-flex align-items-center alert-size"
                     role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    <div th:text="${exception}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg text-uppercase">로그인</button>
                <a class="btn btn-primary btn-lg text-uppercase portfolio-link" data-bs-toggle="modal"
                   href="#signUpModal">회원가입</a> <!--회원가입 버튼 누르면 id="signUpModal" 인 회원가입 모달창이 나옴-->
                <div style="margin-top:20px">
                    <a href="/user/findIdForm" style="margin-right:10px">아이디 찾기</a>
                    <a href="/user/findPwForm">비밀번호 찾기</a>
                </div>
            </form>
            <!-- 회원가입 모달 부분-->
            <div class="portfolio-modal modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-hidden="true">
                <!-- class: 외부 디자인 가져옴 // aria-hidden="true" : 회원가입 눌러야만 모달이 보이게 한 거   -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-bs-dismiss="modal"><img src="../static/assets/img/close-icon.svg"
                                                                              alt="Close modal"/></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                        <!-- Project details-->
                                        <h2 class="text-uppercase" style="margin-bottom: 40px; color:black">회원가입</h2>
                                        <form th:action="@{/user/signup}" method="post" id="signUpForm"
                                              class="needs-validation" novalidate>
                                            <div class="mb-3 row">
                                                <div class="col">
                                                    <input type="text" class="form-control" id="username"
                                                           name="username" placeholder="Id" required/>
                                                </div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-primary text-uppercase" id="idCheck" onclick="idCheckAjax()">중복체크
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="name" name="name"
                                                       placeholder="Name" required/>
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="nickname" name="nickname"
                                                       placeholder="Nickname" required/>
                                            </div>
                                            <div class="mb-3">
                                                <input type="password" class="form-control"
                                                       onkeyup="passwordCheck(this.value)" id="password"
                                                       name="password" placeholder="Password" required/>
                                                <!--&lt;!&ndash;onkeyup을 통해  signup.js 에 있는 passwordCheck function을 호출하여 this.value값을 넘겨주고 이것이 에러인지 검사 후 비번조합이 에러인 순간 에러문구 보여주라고 하고 아래 영문 ~ 조합 8자리 입력 문구가 뜬다 &ndash;&gt;-->
                                                <div id="password-error" class="invalid-feedback">영문,숫자,특수문자를 조합한 8자리
                                                    이상을 입력하세요.
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <input type="date" class="form-control" id="birthday" name="birthday"
                                                       placeholder="Birthday" required/>
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control" onkeyup="phoneCheck(this.value)"
                                                       id="phone" name="phone"
                                                       placeholder="Phone" required/>
                                                <div id="phone-error" class="invalid-feedback">숫자만 입력하세요.</div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col">
                                                    <input type="email" class="form-control" id="email" name="email"
                                                           placeholder="email" required/>
                                                </div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-primary text-uppercase" id="emailCheck"
                                                            onclick="emailCheckAjax()">중복체크
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gender"
                                                           id="gender" value="남" required>
                                                    <label class="form-check-label" style="color:black">남자</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gender"
                                                           id="gender" value="여" required >
                                                    <label class="form-check-label" style="color:black">여자</label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-lg text-uppercase">가입
                                            </button>
                                            <button type="button" class="btn btn-primary btn-lg text-uppercase"
                                                    onclick="location.href='index'">
                                                취소
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <th:block th:if="${role == '[user]'}">
                <a class="btn btn-primary btn-xl text-uppercase" href="#league">Here to Go</a>
            </th:block>
            <th:block th:if="${role == '[admin]'}">
                <a class="btn btn-primary btn-xl text-uppercase" href="#admin">Here to Go</a>
            </th:block>
        </div>
    </div>
</header>
<!-- body-->
<div sec:authorize="isAuthenticated()">
    <!-- 일반회원 페이지-->
    <th:block th:if="${role == '[user]'}">
        <!-- League-->
        <section class="page-section bg-light" id="league">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">League</h2>
                    <h3 class="section-subheading text-muted">5개의 리그가 있습니다.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4" th:each="league : ${leagueList}">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <!--                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1" >-->
                            <a class="portfolio-link" data-bs-toggle="modal"
                               th:onclick="'modalAjax('+${league.league_id}+');'">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" th:src="${league.logo_image_path}" alt="..."/>
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading" th:text="${league.league_name}">...</div>
                                <!--                            <div class="portfolio-caption-subheading text-muted">Illustration</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team -->
        <section class="page-section" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Team</h2>
                    <h3 class="section-subheading text-muted">다양한 팀들의 정보를 확인하세요.</h3>
                    <img class="img-fluid" src="../static/images/player/팀메인사진.jpg"
                         th:onclick="|location.href='@{/team/list}'|" alt="…" style="cursor: pointer;"/>
                </div>
            </div>
        </section>
        <!-- Rank-->
        <section class="page-section bg-light" id="rank">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Rank</h2>
                    <h3 class="section-subheading text-muted">여러 팀과 선수들의 기록을 확인하세요.</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid2"
                                                         src="../static/images/rank/팀1.jpg" alt="..."/></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2022-2023</h4>
                                <h4 class="subheading">Team Rank</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">5개의 빅리그에 대표적인 팀들의 다양한 기록을 볼 수 있습니다.
                                각 리그의 우승 경쟁 결과와 순위를 확인하세요!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid2"
                                                         src="../static/images/rank/개인2.jpg" alt="..."/></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2022-2023</h4>
                                <h4 class="subheading">Player Rank</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">선수들의 득점, 도움 등 중요 개인 스탯을 확인할 수 있습니다.
                                가장 뛰어난 선수가 누구인지 직접 보고 생각해보세요!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div onclick="location.href ='/rank'" style="cursor:pointer;" class="timeline-image">
                            <h4>
                                Enjoy
                                <br/>
                                The
                                <br/>
                                Football!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="board">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Board</h2>
                    <h3 class="section-subheading text-muted">자유롭게 의견을 나누어 보세요.</h3>
                    <img class="img-fluid" src="../static/images/board/게시판.jpg"
                         th:onclick="|location.href='@{/board/list}'|" alt="…" style="cursor: pointer;"/>
                </div>
            </div>
        </section>
    </th:block>
    <!-- 관리자 페이지-->
    <th:block th:if="${role == '[admin]'}">
        <!--    <th:block th:if="${#authentication.authorities}">-->
        <!-- League-->
        <section class="page-section bg-light" id="admin">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Admin</h2>
                    <h3 class="section-subheading text-muted">팀/선수/회원 정보를 관리합니다.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4" style="text-align: center">
                        <img src="/static/images/admin/team.png" alt="..." style="margin-bottom: 20px"
                             onclick="location.href='/admin/teamList'"/>
                        <h2>Team 관리</h2>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4" style="text-align: center">
                        <img src="/static/images/admin/player.png" alt="..." style="margin-bottom: 20px"
                             onclick="location.href='/admin/playerList'"/>
                        <h2>Player 관리</h2>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4" style="text-align: center">
                        <img src="/static/images/admin/member.png" alt="..." style="margin-bottom: 20px"
                             onclick="location.href='/admin/memberList'"/>
                        <h2>Member 관리</h2>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</div>
<!-- Clients-->
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!-- Footer-->
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
<!-- Portfolio Modals-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true"></div>
</body>
</html>
