<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('Hello, Football Homepage!')">
</head>
<script src="../../static/js/teamInfo.js"></script>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common :: menu">
</nav>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Welcome To Our FootBall!</div>
    <!--        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>-->
    <div sec:authorize="!isAuthenticated()" class="mainBtn">
      <a class="btn btn-primary btn-lg text-uppercase" href="/user/login">Login</a>
      <a class="btn btn-primary btn-lg text-uppercase" href="/user/signup">SignUp</a>
    </div>
    <div sec:authorize="isAuthenticated()">
      <a class="btn btn-primary btn-xl text-uppercase" href="#league">Here to Go</a>
    </div>
  </div>
</header>
<section class="page-section">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase" th:text="${info.name}"></h2>
    </div>
  </div>
</section>
<!— Clients—>
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!— Footer—>
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
</body>
</html>