<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('Hello, Football Homepage!')">
</head>
<script></script>
<link href="../../static/css/styles.css" rel="stylesheet"/>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common2 :: menu('[user]')">
</nav>
<!-- Masthead-->
<header class="masthead" style="background-image: url('/static/images/back/team_back.jpg');">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our FootBall!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#playerInfo">Here to Go</a>
    </div>
</header>
<section class="page-section bg-light" id="playerInfo">
<!--    <input type="hidden" th:value="${info.strength}" id="strength" class="strength"/>-->
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" style="margin-bottom: 40px;">player info</h2>
            <div class="card shadow border-0 rounded-4 mb-5">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img th:src="@{/admin/playerImage/{playerId}(playerId=${info.player_id})}"
                             class="img-fluid2 rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${info.name}"></h5>
                            <div class="line"></div>
                            <p class="section-heading text-uppercase" th:text="'키 : '+ ${info.height}"></p>
                            <p class="section-heading text-uppercase" th:text="'몸무게 : '+ ${info.weight}"></p>
                            <p class="section-heading text-uppercase" th:text="'나이 : '+ ${info.age}"></p>
                            <p class="section-heading text-uppercase" th:text="'포지션 : '+ ${info.position}"></p>
                            <p class="section-heading text-uppercase" th:text="'국가 : '+ ${info.nationality}"></p>
                            <p class="section-heading text-uppercase" th:text="'등번호 : '+ ${info.back_number}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Skill Card-->
            <div class="card shadow border-0 rounded-4 mb-5">
                <div class="card-body p-5">
                    <!-- strength -->
                    <div class="mb-5">
                        <div class="d-flex align-items-center mb-4">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                <i class="fa-regular fa-thumbs-up"></i></div>
                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">강점</span></h3>
                        </div>
                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                            <th:block th:each="strength : ${#strings.arraySplit(info.strength, ',')}">
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                                         th:text="${strength}"></div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <!-- weakness-->
                    <div class="mb-0">
                        <div class="d-flex align-items-center mb-4">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                <i class="fa-regular fa-thumbs-down"></i></div>
                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">약점</span></h3>
                        </div>
                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                            <th:block th:each="weakness : ${#strings.arraySplit(info.weakness, ',')}">
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                                         th:text="${weakness}"></div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!— Clients—>
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!— Footer—>
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
</body>
</html>