<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('Hello, Football Homepage!')">
</head>
<script src="../../static/js/teamList.js"></script>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"
     th:replace="fragments/common :: menu">
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our FootBall!</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#teamListMain">Here to Go</a>
    </div>
</header>
<section class="page-section" id="teamListMain">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Team</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <ul class="nav nav-tabs" style="margin-bottom: 50px">
            <li class="nav-item">
                <a id="leagueTab1" class="nav-link" aria-current="page" th:onclick="teamListAjax(1)">프리미어리그</a>
            </li>
            <li class="nav-item">
                <a id="leagueTab2" class="nav-link"  th:onclick="teamListAjax(2)">라리가</a>
            </li>
            <li class="nav-item">
                <a id="leagueTab3" class="nav-link"  th:onclick="teamListAjax(3)">세리에a</a>
            </li>
            <li class="nav-item">
                <a id="leagueTab4" class="nav-link" th:onclick="teamListAjax(4)">분데스리가</a>
            </li>
            <li class="nav-item">
                <a id="leagueTab5" class="nav-link" th:onclick="teamListAjax(5)">리그1</a>
            </li>
        </ul>
        <div  id="teamList" class="row">
        </div>
    </div>
</section>

<!-- Clients-->
<div class="py-5" th:replace="fragments/common::clients">
</div>
<!-- Footer-->
<footer class="footer py-4" th:replace="fragments/common::footer">
</footer>
</body>
</html>