<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minki.football.mapper.league.LeagueMapper">
<!-- namespace로 LeagueMapper와 연결함   -->
    <select id="list" resultType="com.minki.football.dto.league.LeagueRes">
      select league_id, league_name, logo_image_path
      from league;
--  select로 실행 된 구문의 결과값이 resultType에 담아지고 이게 Mapper로 간다.
    </select>

    <select id="info" resultType="com.minki.football.dto.league.LeagueRes">
        select *
        from league
        where league_id = #{leagueId}
    </select>

</mapper>

        <!--백엔드개발 순서

        1. dto에 변수(디비버에 작성한)를 작성
        2. 매퍼.xml을 만든다.
        3. 매퍼.xml에서 네임스페이스 경로 연결을 위해 매퍼.자바(인터페이스)파일을 만든다.
        4. 네임스페이스에 그 경로를 넣고  sql코드를 작성한다.
          <select id = 뒤에 내가 쓰고 싶은 메소드 이름을 적는다
           리절트 타입에 해당 dto경로를 넣어준다.
        5. 매퍼.자바(인터페이스)에서 리절트타입이랑 id(메소드명)를 부르기 위해
           작성한다. -->